# Dependencias
node_modules/
.pnp
.pnp.js

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore
.gitattributes

# Build outputs
dist/
.next/
out/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Prisma (generado automaticamente)
prisma/migrations/
prisma/*.sqlite
